    /* flexing the background so the picture stays intact when you stretch it*/
    #background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 1s ease-in-out;
      z-index: -1;
    }

    /* button font*/
    .syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    }

    /* features of the buttons individually*/
    button {
      padding: 1rem 2rem;
      font-family: 'Syne Mono';
      font-size: 1.3rem;
      border: none;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.6);
      color: rgb(244, 244, 244);
      cursor: pointer;
      transition: background-color 0.3s;
    }

    /* so you know the button is clickable*/
    button:hover {
      background-color: rgba(107, 163, 181, 0.782);
    }

    /* the position of the radio on each page; individually and in relation to the page*/
    #overlayImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
    object-fit: contain;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    }

    /* radio toggle controls*/
    #overlayImage.visible {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer; 
    }

    #overlayImage.visible:hover {
    filter: brightness(1.25);
    transform: translate(-50%, -50%) scale(1.1);
    transition: all 0.75s ease-in;
    transition: all 0.75s ease-out;
    }


    /* stylistic features of the two buttons in relation to the rest of the page; always in the same location always the same size*/
    .controls {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 10; 
    }

